<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>{{ name }}</title>
  </head>
  <body>
    {% import 'macros.html' as macros %}
    <main role="main" class="container" style="margin-top: 40px; margin-bottom: 40px">
      <h2>{{ name }} <small class="text-muted">{{ exec_type }}</small></h2>
      <h3><span class="badge badge-{{ priority_color }}">{{ priority }}</span></h3>

      <div class="card" style="margin-top: 20px">
	<div class="card-body">
	  <dl class="row">
	    <dt class="col-sm-3">Image Types:</dt>
	    <dd class="col-sm-9">{{ image_types }}</dd>
	    <dt class="col-sm-3">Image Deployment:</dt>
	    <dd class="col-sm-9">{{ image_deployment }}</dd>
	    <dt class="col-sm-3">Type:</dt>
	    <dd class="col-sm-9">{{ type }}</dd>
	  </dl>

      <h4>Description</h4>
      <p>{{ description }}</p>

      {% if resources %}
      <hr />
      <h4>Resources</h4>
      <ul>
      {% for resource in resources %}
      <li>{{ resource|e }}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if pre_conditions or ostree_preconditions or install_packages_preconditions or modules_preconditions or git_repo_url %}
      <hr />
      <h4>Pre Conditions</h4>
      <ol>
      {% if ostree_preconditions %}{{ macros.ostree_preconditions(ostree_preconditions) }}{% endif %}
      {% if install_packages_preconditions %}{{ macros.install_packages(install_packages_preconditions) }}{% endif %}
      {% if modules_preconditions %}{{ macros.modules_preconditions(modules_preconditions) }}{% endif %}
      {% if git_repo_url and not ostree_preconditions %}{{ macros.git_repo(git_repo_url, git_repo_dir, git_repo_branch) }}{% endif %}
      {% for comment, command, output, _, link in pre_conditions %}
      {% if comment %}<li class="mb-sm-2">{{ comment|e }}</li>{% endif %}
      {% if command %}<p><kbd>{{ command|e }}</kbd></p>{% endif %}
      {% if link %}<p><a href="{{ link }}">{{ link }}</a></p>{% endif %}
      {% if output %}{% for l in output %}<p class="mb-sm-0 pl-sm-3"><samp>{{ l|e }}</samp></p>{% endfor %}{% endif %}
      {% endfor %}
      </ol>
      {% endif %}

      <hr />
      <h4>Execution Steps</h4>
      <ol>
      {% for comment, command, output, _, link in run_steps %}
      {% if comment %}<li class="mb-sm-2">{{ comment|e }}</li>{% endif %}
      {% if command %}<p><kbd>{{ command|e }}</kbd></p>{% endif %}
      {% if output %}{% for l in output %}<p class="mb-sm-0 pl-sm-3"><samp>{{ l|e }}</samp></p>{% endfor %}{% endif %}
      {% if image %}<img src="images/{{ image }}" class="img-fluid">{% endif %}
      {% if link %}<p><a href="{{ link }}">{{ link }}</a></p>{% endif %}
      {% endfor %}
      </ol>

      <hr />
      <h4>Expected</h4>
      {% for comment, command, output, image, link in expected %}
      {% if comment %}<p class="mt-sm-3">{{ comment|e }}</p>{% endif %}
      {% if command %}<p><kbd>{{ command|e }}</kbd></p>{% endif %}
      {% if output %}{% for l in output %}<p class="mb-sm-0 pl-sm-3"><samp>{{ l|e }}</samp></p>{% endfor %}{% endif %}
      {% if image %}<img src="images/{{ image }}" class="img-fluid">{% endif %}
      {% if link %}<p><a href="{{ link }}">{{ link }}</a></p>{% endif %}
      {% endfor %}

      {% if post_conditions %}
      <hr />
      <h4>Post Conditions</h4>
      <ol>
      {% for comment, command, output, _, link in post_conditions %}
      {% if comment %}<li class="mb-sm-2">{{ comment|e }}</li>{% endif %}
      {% if command %}<p><kbd>{{ command|e }}</kbd></p>{% endif %}
      {% if output %}{% for l in output %}<p class="mb-sm-0 pl-sm-3"><samp>{{ l|e }}</samp></p>{% endfor %}{% endif %}
      {% endfor %}
      </ol>
      {% endif %}

	</div>
      </div>

      {% if notes %}
      <div class="card" style="margin-top: 30px">
	<div class="card-body">
      <h4>Notes</h4>
      <ul>
      {% for comment, command, output, _, link in notes %}
      {% if comment %}<li class="mb-sm-2">{{ comment|e }}</li>{% endif %}
      {% if command %}<p><kbd>{{ command|e }}</kbd></p>{% endif %}
      {% if output %}{% for l in output %}<p class="mb-sm-0 pl-sm-3"><samp>{{ l|e }}</samp></p>{% endfor %}{% endif %}
      {% if link %}<p><a href="{{ link }}">{{ link }}</a></p>{% endif %}
      {% endfor %}
      </ul>
        </div>
      </div>
      {% endif %}
    </main>

  </body>
</html>
